@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url('BrandonGrotesque-Medium.eot');
  src: url('BrandonGrotesque-Medium.woff2') format('woff2'),
       url('BrandonGrotesque-Medium.woff') format('woff'),
       url('BrandonGrotesque-Medium.ttf') format('truetype'),
       url('BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg'),
       url('BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

